@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Open Sans", sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
}

.title-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1rem;
}

.title-box h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: capitalize;

}

.title-box hr {
    width: 200px;
    height: 3px;
}

.btn-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.btn-box button {
    border: 2px orange;
    border-style: inset;
    padding: .2rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    border-radius: 5px;
    transition: .3s;
}

.btn-box button:hover {
    background-color: rgba(120, 78, 0, 0.357);
    color: rgb(0, 94, 255);
}

.menu-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 1136px;
    margin: 4rem auto;
}

.menu-item {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 1rem;
    width: 560px;
    height: 150px;
}

.img-box {
    overflow: hidden;
    width: 100%;
    border: 4px solid orange;
    border-radius: 20px;
}

.img-box img {
    display: block;
    height: 150px;
    object-fit: cover;
    transition: transform .3s;
}

.menu-item img:hover {
    transform: scale(1.1);
}

.text-box {
    display: grid;
    height: 100%;
    grid-template-rows: auto auto auto;
}

.text-box hr {
    height: 2px;
}

.text-box h2, h3 {
    display: inline-block;
}

.text-box h2 {
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

.text-box h3 {
    float: right;
}

.text-footer {
    justify-self: end;
    align-self: end;
}

.whats {
    border: 2px inset black;
    padding: .2rem .5rem;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    transition: .3s;
}


.whats:hover {
    background-color: rgba(0, 98, 255, 0.698);
    color: white;
} 