@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    height: 100vh;
    background-color: rgb(123, 196, 255);
    font-family: 'Verdana', sans-serif;
    font-size: 1em;
}

header {
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 300px;
    max-width: 700px;
    margin: auto;

    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid black;
    box-shadow: 3px 3px 1px black;
}

.div_container {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 150px;
}

input {
    display: inline-block;
    width: calc(100% - 160px);
    max-width: 200px;
}

input[type=button] {
    display: block;
    margin-top: 30px;
    align-self: center;
    

    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.304);
    border-radius: 15px;
    background-color: rgb(183, 237, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition-duration: .3s;
    transition-property: background-color;
}

input[type=button]:hover {
    background-color: rgb(202, 242, 255);
    transition-duration: .3s;
    transition-property: background-color;
}
 
#div_result {
    width: 100%;
    margin: auto;

    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.278);
    border-radius: 5px;
}